<div class="content">
  <div class="section" id="pribram-scroll">
    <div class="store">
      <div class="store__main">
        <p class="store__address">Žižkova 715, Příbram, 261 01</p>
        <h1>Cukrárna Příbram<br />Bouda</h1>

        <p>
          Objednávky dortů přijímáme přes
          <a href="napiste-nam">formulář</a> nejlépe týden dopředu. Upečeme vám
          jakýkoliv dort z naší nabídky.
        </p>
      </div>

      <div class="store__aside">
        <p class="store__xl">Otevírací doba</p>

        <table class="no-border store__opening">
          <tr>
            <td>pondělí</td>
            <td>7:00 - 18:00</td>
          </tr>
          <tr>
            <td>úterý</td>
            <td>7:00 - 18:00</td>
          </tr>
          <tr>
            <td>středa</td>
            <td>7:00 - 18:00</td>
          </tr>
          <tr>
            <td>čtvrtek</td>
            <td>7:00 - 18:00</td>
          </tr>
          <tr>
            <td>pátek</td>
            <td>7:00 - 18:00</td>
          </tr>
          <tr>
            <td>sobota</td>
            <td>8:00 - 18:00</td>
          </tr>
          <tr>
            <td>neděle</td>
            <td>zavřeno</td>
          </tr>
        </table>
      </div>

      <div class="store__foot">
        <a href="mailto:info@upekla.cz" class="btn btn--mail">info@upekla.cz</a>
        <a href="tel:+420776352652" class="btn btn--phone">+420 775 985 132</a>
        <a
          href="https://goo.gl/maps/2y4FEggHGgfY2rJy6"
          target="_blank"
          class="btn btn--pin"
          >Navigovat</a
        >
        <a
          href="https://www.facebook.com/upekla"
          target="_blank"
          class="btn btn--fb"
          >Sledovat</a
        >
      </div>
    </div>
    <!-- /store -->
  </div>

  <div class="section section--xl">
    <div class="slider">
      <div class="slider__slide">
        <div class="slider__item">
          <div class="slider__fig">
            <div class="slider__img">
              <img
                src="#"
                data-src="images/data-sablony/cukrarna-pribram-a.jpg"
                alt=""
                class="js-lazy"
              />
            </div>
          </div>

          <div class="slider__fig slider__fig--secondary">
            <div class="slider__img">
              <img
                src="#"
                data-src="images/data-sablony/cukrarna-pribram-b.jpg"
                alt=""
                class="js-lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /slider -->
  </div>
  <!-- /section -->

  <div class="section" id="pisek-scroll">
    <div class="store store--secondary">
      <div class="store__main">
        <p class="store__address">
          Alšovo náměstí 75/13, Písek (městská knihovna)
        </p>
        <h2>Cukrárna Písek<br />Knihovna</h2>
        <p>
          Objednávky dortů přijímáme přes
          <a href="napiste-nam">formulář</a> nejlépe týden dopředu. Upečeme vám
          jakýkoliv dort z naší nabídky.
        </p>
        <p>
          Rezervace míst není vzhledem ke kapacitě možná. Uděláme ale vše pro
          to, abychom vás usadili.
        </p>
      </div>

      <div class="store__aside">
        <p class="store__xl">Otevírací doba</p>

        <table class="no-border store__opening">
          <tr>
            <td>pondělí</td>
            <td>7:00 - 18:00</td>
          </tr>
          <tr>
            <td>úterý</td>
            <td>7:00 - 18:00</td>
          </tr>
          <tr>
            <td>středa</td>
            <td>7:00 - 18:00</td>
          </tr>
          <tr>
            <td>čtvrtek</td>
            <td>7:00 - 18:00</td>
          </tr>
          <tr>
            <td>pátek</td>
            <td>7:00 - 18:00</td>
          </tr>
          <tr>
            <td>sobota</td>
            <td>8:00 - 18:00</td>
          </tr>
          <tr>
            <td>neděle</td>
            <td>zavřeno</td>
          </tr>
        </table>
      </div>

      <div class="store__foot">
        <a href="mailto:info@upekla.cz" class="btn btn--mail">info@upekla.cz</a>
        <a href="tel:+420606906059" class="btn btn--phone">+420 606 906 059</a>
        <a
          href="https://goo.gl/maps/VBbnsG59C7j7ZcDb8"
          target="_blank"
          class="btn btn--pin"
          >Navigovat</a
        >
        <a
          href="https://www.facebook.com/upekla"
          target="_blank"
          class="btn btn--fb"
          >Sledovat</a
        >
      </div>
    </div>
    <!-- /store -->
  </div>
  <!-- /section -->

  <div class="section section--xl">
    <div class="slider">
      <div class="slider__slide">
        <div class="slider__item">
          <div class="slider__fig">
            <div class="slider__img">
              <img
                src="#"
                data-src="images/data-sablony/cukrarna-pisek-a.jpg"
                alt=""
                class="js-lazy"
              />
            </div>
          </div>

          <div class="slider__fig slider__fig--secondary">
            <div class="slider__img">
              <img
                src="#"
                data-src="images/data-sablony/cukrarna-pisek-b.jpg"
                alt=""
                class="js-lazy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /slider -->
  </div>
  <!-- /section -->
</div>
<!-- /content -->

<div class="content content--bg5">
  <div class="section">
    <h2 class="headline headline--center headline--xl">
      Sledujte naše dortíky
    </h2>

    <div class="social-btns">
      <a
        href="https://www.instagram.com/upekla"
        target="_blank"
        class="btn btn--midi btn--insta"
        >Instagram</a
      >
      <a
        href="https://www.facebook.com/upekla"
        target="_blank"
        class="btn btn--midi btn--fb"
        >Facebook</a
      >
    </div>

    <div class="istream">
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-145067ad-1ce3-461d-990b-0fc30f586290"></div>
    </div>
    <!-- /istream -->
  </div>

  <div class="content__bg js-lazy" data-src="images/bg-5.jpg"></div>
</div>
<!-- /content -->
