<div class="content content--bg9">
    <div class="section">
        <div class="article">
            <h1 class="headline">Informace<br />o zpracování cookies</h1>

            <p>Níže se dočtete, jakým způsobem zpracováváme cookies. </p>

            <h2>Správce a kontaktní údaje</h2>
            <p>Správcem Vašich osobních údajů je Petra Eisová. Kontaktovat ji, můžete na níže uvedených kontaktech, případně na adrese sídla. Na uvedených kontaktech můžete také uplatnit veškerá Vaše dále popsaná práva.</p>

            <div class="article__cols">
                <div class="article__col">
                    <p><strong>Petra Eisová<br />IČO: 41887123<br />sídlo: Luční 459, Příbram 261 01</strong></p>
                </div>

                <div class="article__col">
                    <p><strong>tel: <a href="tel:+420776352652">+420 776 352 652</a><br />e-mail: <a href="mailto:info@upekla.cz">info@upekla.cz</a></strong></p>
                </div>
            </div>

            <h2>Jaká cookies zpracováváme a proč?</h2>
            <p>V první řadě zpracováváme tzv. nezbytné cookies, bez kterých by naše stránky nemohly správně fungovat. Funkční cookies nám zase pomáhají nastavit pro Vás stejný způsob fungování stránek po celou dobu co je prohlížíte, např. volbu jazyka. Dále zpracováváme cookies, které umožňují sledovat návštěvnost našeho webu. Jedná se pouze o statistiky a údaje jsou anonymizované, takže Vás z nich nejsme schopni identifikovat. A nakonec také zpracováváme marketingová cookies, která např. umožňují zobrazit Vám reklamu, která Vás zajímá, umožňují měřit účinnost reklam a tak podobně.</p>

            <h2>Jak to, že můžeme zpracovávat cookies?</h2>
            <p>Možnosti jsou dvě. Buď na tom máme tzv. oprávněný zájem nebo jsme k tomu získali Váš souhlas. Na základě oprávněného zájmu můžeme díky cookies zlepšovat funkčnost našich stránek, protože můžeme sledovat statistiky o chování návštěvníků. Pokud k tomu máme Váš souhlas, můžeme díky cookies přizpůsobit na míru i reklamu, která se Vám bude zobrazovat (např. pokud se Vám u nás líbily dorty, můžou se Vám potom sem tam zobrazit další).</p>
            <p>Možnosti ukládání cookies můžete změnit v nastavení Vašeho prohlížeče dle návodu:</p>

            <ul class="reset">
                <li><span class="article__num">1)</span> Google Chrome <a href="https://support.google.com/accounts/answer/61416?hl=cs" target="_blank">zde</a></li>
                <li><span class="article__num">2)</span> Internet Explorer <a href="https://support.microsoft.com/cs-cz/help/283185" target="_blank">zde</a></li>
                <li><span class="article__num">3)</span> Safari <a href="https://support.apple.com/en-hk/guide/safari/sfri11471/mac?fbclid=IwAR3Z-9CnDnnRVQILjNEZpCSNJbhGVZKUwO2VSpJkdFYnY-5XnavRr072pGk" target="_blank">zde</a></li>
                <li><span class="article__num">4)</span> Mozilla <a href="https://support.mozilla.org/cs/kb/blokovani-cookies" target="_blank">zde</a></li>
            </ul>

            <p>Případně na této webové stránce můžete získat přehled a spravovat nastavení sběru cookies ve Vašem zařízení.</p>

            <h2>Jak to, že můžeme zpracovávat cookies?</h2>

            <p>Cookies nezpracováváme sami, ale pomáhají nám s tím naši zpracovatelé, tj. společnosti<br />- Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irsko;<br />- Seznam.cz, a.s., IČO: 26168685, se sídlem Praha 5 - Smíchov, Radlická 3294/10, PSČ 15000;<br />- Facebook Ireland Ltd., 4 Grand Canal Square.</p>

            <h2>Jaká máte práva ve vztahu ke cookies, která zpracováváme?</h2>
            <p>Můžete požadovat přístup k Vašim osobním údajům – tj. můžete se nás zeptat, jaké údaje o Vás máme.</p>
            <p>Můžete požadovat, abychom Vaše údaje opravili.</p>
            <p>Můžete vznést námitku proti způsobům našeho zpracování osobních údajů.</p>
            <p>Můžete nás požádat, abychom Vaše údaje vymazali.</p>
            <p>V některých případech nás můžete také požádat, abychom omezili zpracování Vašich osobních údajů – tzn. že údaje u sebe budeme sice mít, ale vůbec nic s nimi nebudeme moci dělat.</p>
            <p>Máte právo na přenositelnost údajů, pokud zpracováváme údaje na základě Vašeho souhlasu nebo smlouvy s Vámi a zároveň je zpracováváme automatizovaně.</p>
            <p>Vezměte prosím na vědomí, že drtivá většina dat, které získáváme díky cookies, je anonymizována, takže nedokážeme přesně říct, o koho se jedná a tím pádem v některých případech ani neumíme Vašim právům vyhovět.</p>
            <p>Kdykoli můžete také podat stížnost k Úřadu pro ochranu osobních údajů, ale samozřejmě budeme rádi, pokud Vaše připomínky probereme nejdřív společně a pokusíme se je vyřešit k Vaší spokojenosti.</p>

            <p>Pokud máte jakýkoliv dotaz ohledně našich zásad ochrany soukromí, můžete nám napsat na email <a href="mailto:info@upekla.cz">info@upekla.cz</a> nebo se ozvat na jakýkoliv jiný kontakt uvedený v záhlaví těchto zásad ochrany soukromí. Tyto zásady můžeme čas od času aktualizovat, a proto doporučujeme, abyste se na tuto stránku občas podívali.</p>

            <p>Tyto zásady byly vydány dne <span class="pink">1. 10. 2020</span></p>

        </div><!-- /article -->


    </div><!-- /section -->

    <div class="content__bg js-lazy" data-src="images/bg-9.png"></div>			
</div><!-- /content -->
