<div class="content content--bg7">
    <div class="section">
        <div class="about">
            <p class="promo">Kdo stojí za Upekla</p>
            <h1 class="headline">O nás</h1>
            <p>Mirka pracovala jako ekonom. Po letech jí tato profese přestávala dávat smysl.<br />Aby se odreagovala, pekla. S jejími dětmi Janou a Martinem  jsme jí pobízeli, ať změní svůj život a&nbsp;začne se pečením živit. Přihlásili jsme ji na první farmářské trhy, ať vyzkouší, jestli její dorty budou chutnat. Chutnaly. Děti založily facebookový portál, Mirka napekla dorty, společnými silami jsme dorty nafotili a vytvořili webové stránky. Název vymysleli naši nejbližší kamarádi nad lahví metaxy. S Mirkou jsem „do toho“ šla s tím, že jí pomohu rozjet firmu a pak bude podnikat sama.</p>

            <p>Půl roku po založení „Upekla“ Mirka odešla ze zaměstnání a já jsem prodala svou firmu. Začaly jsme naplno. Naše dorty jsme prodávaly na farmářských trzích a rozvážely po kavárnách. Přidala se k nám neteř Jana se svým přítelem Dominikem. Po roce pečení jsme postavili pekárnu, po čtyřech letech cukrárnu v Příbrami  (Boudu) a po dalším roce jsme otevřeli cukrárnu v Písku (Knihovnu). Postupně jsme nabírali stálé zaměstnance a brigádníky a ti, co zůstali dodnes, tvoří společně s námi úžasný tým.</p>

            <p>Rozhodli jsme se živit tvrdou prací. Pracovní den má 13 – 16 hodin, pracovní týden 6 dní, dovolená 14 dní.  Občas si povzdychneme, ale nikdy nás nenapadlo to vzdát. Milujeme naší práci a milujeme naši rodinu. Od začátku všichni táhneme za jeden provaz.</p>
            
            <p>Více o nás si můžete poslechnout v podcastu Gastromapa Lukáše Hejlíka:</p>
            <div class="podcasts-buttons">
                <a href="https://podcasts.apple.com/cz/podcast/006-upekla-mirka-semr%C3%A1dov%C3%A1-petra-eisov%C3%A1/id1485799467?i=1000458829649" target="_blank">
                    <img src="images/apple_podcasts.png" />
                </a>
                <a href="https://open.spotify.com/episode/6YPY4ttp32aMGsYvaOARzA" target="_blank">
                    <img src="images/spotify.png" />
                </a>
            </div>
        </div><!-- /about -->

        <div class="person js-animation-group">
            <div class="person__article">
                <h2>Miroslava<br />Semrádová</h2>
                <p class="person__promo">Pečící element Upekla</p>
                <p>Jsem to já, kdo za všechno může. Pobláznila jsem celou rodinu a nyní řídím naší pekárnu. Je to tvrdá práce, ale stojí to za to. Žiju si svůj sen a&nbsp;svou práci miluji.</p>
            </div>					

            <div class="person__fig">
                <div class="person__img js-animated-item" data-animation-delay="500">
                    <img src="#" data-src="images/mirka-2.jpg" alt="" width="400" class="js-lazy" />
                </div>
            </div>
        </div><!-- /person -->

        <div class="person person--secondary js-animation-group">
            <div class="person__article">
                <h2>Petra Eisová</h2>
                <p class="person__promo">Organizační element Upekla</p>
                <p>Nejprve jsem pomáhala Mirce rozjet její podnikání a po krátké době jsem přišla na to, že&nbsp;je to i má cesta. Baví mne pracovat s rodinou. Mám na starosti organizaci firmy, sociální sítě a&nbsp;cukrárnu v Příbrami.</p>

                <p class="person__promo">Petra Eisová<br />Zapsána v živnostenském rejstříku<br />u Městského úřadu v Příbrami od 5. 1. 2011<br />IČ: 41887123</p>
            </div>

            <div class="person__fig">
                <div class="person__img js-animated-item" data-animation-delay="500">
                    <img src="#" data-src="images/petra-2.jpg" alt="" width="400" class="js-lazy" />
                </div>
            </div>					
        </div><!-- /person -->

    </div>

    <div class="content__bg js-lazy" data-src="images/bg-7.jpg"></div>
</div><!-- /content -->

<div class="content content--bg3">
    <div class="section slider__arrows">
        <h2 class="headline">Galerie</h2>
    </div>

    <div class="section section--xl">
        <div class="slider js-slider">
            <div class="slider__slide">
                <div class="slider__item">
                    <div class="slider__fig">
                        <div class="slider__img">
                            <a href="#" class="slider__play js-play-video">
                                <img src="#" data-src="images/thumbnail.jpg" alt="" class="js-lazy" />
                            </a>

                            <div class="slider__frame">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/od6khHBZbhQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="slider__fig slider__fig--secondary">
                        <div class="slider__img">
                            <img src="#" data-src="images/537x673upeklafoto2.jpg" alt="" class="js-lazy" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="slider__slide">
                <div class="slider__item">
                    <div class="slider__fig">
                        <div class="slider__img">
                            <img src="#" data-src="images/team.jpg" alt="" class="js-lazy" />
                        </div>
                    </div>

                    <div class="slider__fig slider__fig--secondary">
                        <div class="slider__img">
                            <img src="#" data-src="images/team-2.jpg" alt="" class="js-lazy" />
                        </div>
                    </div>


                </div>
            </div>

            <div class="slider__slide">
                <div class="slider__item">
                    <div class="slider__fig slider__fig--secondary">
                        <div class="slider__img">
                            <img src="#" data-src="images/data-sablony/gal-2b.jpg" alt="" class="js-lazy" />
                        </div>
                    </div>

                    <div class="slider__fig">
                        <div class="slider__img">
                            <img src="#" data-src="images/data-sablony/gal-2a.jpg" alt="" class="js-lazy" />
                        </div>
                    </div>


                </div>
            </div>

        </div><!-- /slider -->

    </div>			
</div><!-- /content -->

<div class="content content--dark">
    <div class="section">
        <h2 class="headline headline--center">Naše historie</h2>
    </div>

    <div class="history">
        <div class="history__main js-history-slider">
            <div class="history__slide">
                <div class="history__item">
                    <div class="history__fig">
                        <div class="history__img">
                            <img src="#" data-src="images/2012.jpg" alt="" width="380" class="js-lazy" />
                        </div>
                    </div>

                    <div class="history__txt">
                        <p class="history__xl">2012</p>
                        <p>Mirka je vyhořelá ze své práce a svými blízkými je přesvědčována, ať zrealizuje svůj sen mít cukrárnu. V&nbsp;prosinci prodá svých prvních 20 kg vánočního cukroví a tím začíná příběh Upekla.</p>
                    </div>
                </div>
            </div><!-- /history__slide -->

            <div class="history__slide">
                <div class="history__item">
                    <div class="history__fig">
                        <div class="history__img">
                            <img src="#" data-src="images/2013.jpg" alt="" width="380" class="js-lazy" />
                        </div>
                    </div>

                    <div class="history__txt">
                        <p class="history__xl">2013</p>
                        <p>S našimi výrobky objíždíme farmářské trhy. Zde nás objevují majitelé kaváren a farmářských obchodů, kterým začínáme pravidelně dodávat. Amatérské podmínky pro pečení už přestávají vyhovovat a stavíme pekárnu v&nbsp;Kašině Hoře u Písku, odkud pocházíme.</p>
                    </div>
                </div>
            </div><!-- /history__slide -->

            <div class="history__slide">
                <div class="history__item">
                    <div class="history__fig">
                        <div class="history__img">
                            <img src="#" data-src="images/2017.jpg" alt="" width="380" class="js-lazy" />
                        </div>
                    </div>

                    <div class="history__txt">
                        <p class="history__xl">2017</p>
                        <p>Otevíráme cukrárnu v Příbrami jako náš první pevný bod ve vesmíru. Od začátku jsme přesně věděli, kde má&nbsp;stát, ale stálo nás to mnoho úsilí a 3 roky času. Snažíme se být takovým místem, kam bychom se sami vraceli na kávu a&nbsp;dort.</p>
                    </div>
                </div>
            </div><!-- /history__slide -->

            <div class="history__slide">
                <div class="history__item">
                    <div class="history__fig">
                        <div class="history__img">
                            <img src="#" data-src="images/2019.jpg" alt="" width="380" class="js-lazy" />
                        </div>
                    </div>

                    <div class="history__txt">
                        <p class="history__xl">2019</p>
                        <p>Otevíráme cukrárnu v Písku. Nachází se v&nbsp;nádherně zrekonstruovaných prostorách městské knihovny a zajít sem na kávu a&nbsp;dort je navíc zajímavým estetickým zážitkem.</p>
                    </div>
                </div>
            </div><!-- /history__slide -->

            <div class="history__slide">
                <div class="history__item">
                    <div class="history__fig">
                        <div class="history__img">
                            <img src="#" data-src="images/2020.jpg" alt="" width="380" class="js-lazy" />
                        </div>
                    </div>

                    <div class="history__txt">
                        <p class="history__xl">2020</p>
                        <p>V tuto chvíli máme to, co jsme chtěli a&nbsp;rozhodně neusínáme na vavřínech.<br />Pořád přemýšlíme, jak Upekla posunout dál, takže kdo ví?!</p>
                    </div>
                </div>
            </div><!-- /history__slide -->
        </div><!-- /history__main -->

        <div class="history__nav">
            <div class="history__axis">
                <div class="history__year history__year--2012 is-active" data-slick-index="0">
                    <p>2012</p>
                    <span class="icon icon--cake"></span>
                </div>

                <div class="history__year history__year--2013" data-slick-index="1">
                    <p>2013</p>
                    <span class="icon icon--cake"></span>
                </div>

                <div class="history__year history__year--2017" data-slick-index="2">
                    <p>2017</p>
                    <span class="icon icon--cake"></span>
                </div>

                <div class="history__year history__year--2019" data-slick-index="3">
                    <p>2019</p>
                    <span class="icon icon--cake"></span>
                </div>

                <div class="history__year history__year--2020" data-slick-index="4">
                    <p>2020</p>
                    <span class="icon icon--cake"></span>
                </div>
            </div>
        </div><!-- /history__nav -->

    </div><!-- /history -->

</div><!-- /content -->

<div class="content content--bg5">
    <div class="section">
        <h2 class="headline headline--center headline--xl">Sledujte naše dortíky</h2>

        <div class="social-btns">
            <a href="https://www.instagram.com/upekla" target="_blank" class="btn btn--midi btn--insta">Instagram</a>
            <a href="https://www.facebook.com/upekla" target="_blank" class="btn btn--midi btn--fb">Facebook</a>
        </div>

        <div class="istream">
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-145067ad-1ce3-461d-990b-0fc30f586290"></div>
        </div><!-- /istream -->
    </div>

    <div class="content__bg js-lazy" data-src="images/bg-5.jpg"></div>
</div><!-- /content -->