		<div class="content content--bg9">
			<div class="section">
				<div class="article">
					<h1 class="headline">Zásady<br />ochrany soukromí</h1>

					<p>Dále si můžete přečíst, jakým způsobem pracujeme s Vašimi osobními údaji a proč je vůbec potřebujeme.</p>
						
					<h2>1. Správce a kontaktní údaje</h2>
					<p>Správcem Vašich osobních údajů je Petra Eisová. Kontaktovat ji, nebo některého z jejích kolegů, můžete na níže uvedených kontaktech, případně na adrese sídla. Na uvedených kontaktech můžete také uplatnit veškerá Vaše dále popsaná práva.</p>

					<div class="article__cols">
						<div class="article__col">
							<p><strong>Petra Eisová<br />IČO: 41887123<br />sídlo: Luční 459, Příbram 261 01</strong></p>
						</div>

						<div class="article__col">
							<p><strong>tel: <a href="tel:+420776352652">+420 776 352 652</a><br />e-mail: <a href="mailto:info@upekla.cz">info@upekla.cz</a></strong></p>
						</div>
					</div>

					<h2>2. Jaké osobní údaje naše společnost zpracovává a proč?</h2>
					<h3>2.1. Identifikační údaje:</h3>
					<p>Vaše základní identifikační údaje (jméno a příjmení) si zapíšeme, abychom věděli, kdo u nás provedl objednávku a komu ji máme vydat.</p>

					<h3>2.2. Kontaktní údaje:</h3>
					<p>Vaše kontaktní údaje (telefonní číslo a email) využíváme k tomu, abychom Vás mohli informovat o&nbsp;tom, že jsou Vaše dobroty připraveny k vyzvednutí. Kontaktní údaje si raději uchováváme také proto, abychom Vás mohli informovat v případě jakýchkoli změn nebo dalších nutných záležitostí spojených s Vaší objednávkou.</p>

					<h3>2.3.</h3>
					<p>Také potřebujeme vědět, kde si dobroty vyzvednete, jestli na naší pobočce v&nbsp;Písku nebo v&nbsp;Příbrami.</p>

					<h3>Pokud nám neposkytnete Vaše výše uvedené osobní údaje, nebudeme moci vyřídit Vaše objednávky a připravit Vám dobroty k odběru.</h3>
					<p>Údaje můžeme zpracovávat proto, že se jedná o opatření před uzavřením smlouvy.</p>

					<h2>3. Jaké další údaje využíváme?</h2>
					<h3>3.1. Cookies:</h3>
					<p>Abychom Vám usnadnili a zpříjemnili užívání našich webových stránek a zároveň abychom je neustále vylepšovali, zpracováváme i cookies. Pokud si o zpracování cookies chcete přečíst více, <a href="informace-o-cookies">klikněte zde</a>.</p>

					<h2>4. Komu Vaše osobní údaje předáváme?</h2>
					<h3>4.1.</h3>
					<p>Informace o procházení stránek pro nás zpracovává Google Ireland Limited (Gordon House, Barrow Street, Dublin 4, Irsko), Seznam.cz, a.s. (IČO: 26168685, se sídlem Praha 5 - Smíchov, Radlická 3294/10, PSČ 15000) a Facebook Ireland Ltd. (4 Grand Canal Square, Grand Canal Harbour, Dublin 2 Ireland) (více se dočtete v informacích o zpracování <a href="informace-o-cookies">cookies zde</a>).</p>

					<h3>4.2.</h3>
					<p>Některé údaje o Vás zpracovávají naši další zpracovatelé, a to marketingoví poradci a účetní. Nikam jinam Vaše osobní údaje nepředáváme ani s databázemi nijak neobchodujeme. Nemusíte se proto ničeho bát, Vaše údaje jsou u nás v bezpečí.</p>

					<h2>5. Jak dlouho Vaše osobní údaje uchováváme?</h2>
					<h3>5.1.</h3>
					<p>Vaše údaje uchováváme po dobu 4 let od doby, kdy jste si u nás objednali a potom je vymažeme. Po tuto dobu je uchováváme proto, abychom byli schopni správně reagovat v případě jakéhokoli sporu.</p>

					<h3>5.2.</h3>
					<p>Jestliže máme některé údaje na základě Vašeho souhlasu, můžete jej kdykoli odvolat a takové údaje pak smažeme, případně je nebudeme používat pro účely, pro které jsme Váš souhlas měli.</p>

					<h3>5.3.</h3>
					<p>Uchování některých dokumentů obsahujících osobní údaje nám navíc ukládají některé zákony, jako např. zákon o účetnictví.</p>

					<h2>6. Jaká máte práva ve vztahu ke svým osobním údajům?</h2>
					<h3>6.1.</h3>
					<p>Právo požadovat přístup k Vašim osobním údajům – tzn. že se nás můžete zeptat, jaké osobní údaje o Vás evidujeme a co se s nimi v průběhu toho, co jsou u nás, dělo a bude dít.</p>

					<h3>6.2.</h3>
					<p>Právo na opravu – pokud nejsou Vaše osobní údaje, které o Vás vedeme, již aktuální nebo jsou nesprávné, můžete požádat o jejich opravu.</p>

					<h3>6.3.</h3>
					<p>Právo vznést námitku – v případě, že se domníváte, že zpracováváme osobní údaje nad rámec našich oprávněných zájmů, můžete proti takovému zpracování vznést námitku, kterou se musíme zabývat.</p>

					<h3>6.4.</h3>
					<p>Právo na výmaz (tzv. právo „být zapomenut“) – tzn. že na Vaši žádost musíme vymazat veškeré osobní údaje, které o Vás evidujeme, např. pokud si již nebudete přát být u nás registrováni. Může se ale stát, že bude existovat jiný důvod, který nás opravňuje či zavazuje údaje uchovávat (např. povinnost plynoucí ze zákona o účetnictví atd.) a v takovém případě výmaz nemůžeme provést.</p>

					<h3>6.5.</h3>
					<p>Právo na omezení zpracování – v některých případech sice osobní údaje můžeme uchovávat, ale nesmíme s nimi nijak nakládat; jedná se o následující situace:</p>

					<ul class="reset">
						<li><span class="article__num">6.5.1.</span> pokud popřete přesnost údajů a my potřebujeme Vaše sdělení ověřit;</li>
						<li><span class="article__num">6.5.2.</span> jestliže jsou osobní údaje zpracovávány neoprávněně, ale nepřejete si, abychom je vymazali a místo výmazu požádáte jen o omezení zpracování;</li>
						<li><span class="article__num">6.5.3.</span> pokud již osobní údaje nepotřebujeme, ale požádáte o jejich uchování pro uplatnění Vašich právních nároků;</li>
						<li><span class="article__num">6.5.4.</span> pokud vznesete námitku proti zpracování, a to po dobu, než ověříme, jestli budou osobní údaje dál zpracovávány v našem důležitém zájmu nebo je zpracovávat nebudeme.</li>
					</ul>

					<h3>6.6.</h3>
					<p>Právo na přenositelnost údajů – v případě, že nás o to požádáte, poskytneme Vám Vaše osobní údaje, které zpracováváme na základě smlouvy, kterou jsme s Vámi uzavřeli, souhlasu a zároveň je zpracováváme automatizovaně. Takové údaje Vám poskytneme v běžně používaném, strojově čitelném formátu. Případně tyto údaje můžeme předat správci, kterého určíte, pokud ale s předáním bude souhlasit.</p>

					<h3>6.7.</h3>
					<p>Právo podat stížnost – pokud se domníváte, že nějakým způsobem porušujeme pravidla zpracovávání osobních údajů, máte právo podat stížnost k Úřadu pro ochranu osobních údajů.</p>

					<h3>Pokud máte jakýkoli dotaz ohledně našich zásad ochrany soukromí, můžete nám napsat na email <a href="mailto:info@upekla.cz">info@upekla.cz</a> nebo se ozvat na jakýkoli jiný kontakt uvedený v záhlaví těchto zásad ochrany soukromí. Tyto zásady můžeme čas od času aktualizovat, a proto doporučujeme, abyste se na tuto stránku občas podívali.</h3>

					<p>Tyto zásady byly vydány dne <span class="pink">1. 10. 2020</span></p>
				</div><!-- /article -->


			</div><!-- /section -->

			<div class="content__bg js-lazy" data-src="images/bg-9.png"></div>			
		</div><!-- /content -->
